@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-ee0u0f');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-ee0u0f') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?-ee0u0f') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?-ee0u0f') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?-ee0u0f#icomoon') format('svg');
}

@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,800|Lora:400italic|Playfair+Display:700);
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
	margin:0;
	background: #fff;
	font-weight: 400;
	line-height: 1.5;
	font-family: 'Raleway', Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

a {
	outline: none;
	text-decoration: none;
}

a:hover, a:focus {
	color: #685e5e;
}

/* To Navigation Style */

.codrops-demos {
	padding: 0 0 1em;
	position: relative;	
}

.codrops-demos a {
	font-weight: 800;
	text-transform: uppercase;
	font-size: 0.6em;
	letter-spacing: 1px;
	padding: 0.3em 0;
	display: inline-block;
	opacity: 0.7;
	margin: 0 0.5em;
	white-space: nowrap;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo {
	opacity: 1;
}

.codrops-demos a.current-demo {
	border-bottom: 3px solid ;
}

/*HTML & BODY*/
html, body, .container, .headerr {
	height: 100%;
}

/* Header */
.headerr {
	position: relative;
	margin: 0 auto;
	min-height: 560px;
	width: 100%;
}

.bg-img {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bg-img img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	min-width: 100%;
	min-height: 100%;
}

.titlee {
	z-index: 1000;
	margin: 0 auto;
	padding: 0 2em;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 57%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.titlee h1 {
	padding: 0 0 0.2em;
	color: #fff;
	font-weight: 800;
	font-size: 3.5em;
	margin: 0 auto;
}

.titlee p {
	color: #fff;
	padding: 0 0 0.6em;
	font-weight: 300;
	font-size: 0.6em;
	margin: 0 auto;
}

.titlee h1,
.titlee p.subline {
	line-height: 1;
}


/* enter+鍵號 */
button.trigger {
	position: fixed;
	bottom: 40px;
	left: 50%;
	z-index: 5000;
	display: block;
	margin-left: -0.5em;
	padding: 0;
	width: 1em;
	height: 1em;
	border: none;
	background: transparent;
	color: transparent;
	font-size: 1.8em;
	cursor:crosshair;
}
/*enter鍵幾秒後消失*/
.container:not(.notrans) button.trigger {
	-webkit-transition: opacity 1s 0.5s;
	transition: opacity 1s 0.5s;
}
/*按enter鍵後幾秒後消失*/
.container.modify:not(.notrans) button.trigger {
	opacity: 0;
	pointer-events: none;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

/*enter鍵*/
button.trigger:before {
	position: absolute;
	bottom: 100%;
	left: -100%;
	padding: 0.8em;
	width: 220%;
	color: #000;
	content: attr(trigger);
	font-size: 0.5em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

button.trigger:focus {
	outline: none;
}

button.trigger span {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

button.trigger span:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #000;
	content: "\e097";
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}



/* Content */
.content {
	margin: 0 auto;
	padding: 0 0 3em;
}

.content > div:not(.titlee) {
	margin: -80px auto 0;
	max-width: 900px;
	padding: 0 1.25em;
}

.content > div:not(.titlee) p {
	margin: 0 auto 1.5em auto;
}

.content > div:not(.titlee) p:first-child {
	font-size: 1.35em;
}

.content h3 {
	margin: 0;
	font-size: 1.4em;
}

.content blockquote {
	padding: 0.25em;
	font-style: italic;
	font-size: 1em;
	font-family: 'Lora', serif;
	line-height: 1.4;
}

.content blockquote:before {
	content: '\201C';
}

.content blockquote:after {
	content: '\201D';
}

.intro-effect-sliced:not(.notrans) .bg-img,
.intro-effect-sliced:not(.notrans) .titlee {
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}

.intro-effect-sliced:not(.notrans) .headerr h1{
	color:#000;
	-webkit-transition-property: -webkit-color;
	transition-property: color:
}
.intro-effect-sliced:not(.notrans) .codrops-demos a {
	color: #000;
	font-size: 0.9em;
	-webkit-transition-property: -webkit-color;
	transition-property: color:
}

.intro-effect-sliced:not(.notrans) .headerr p {
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.intro-effect-sliced:not(.notrans) .content > div {
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
}

.intro-effect-sliced:not(.notrans) .bg-img,
.intro-effect-sliced:not(.notrans) .headerr h1,
.intro-effect-sliced:not(.notrans) .titlee,
.intro-effect-sliced:not(.notrans) .headerr p,
.intro-effect-sliced:not(.notrans) .content > div,
.intro-effect-sliced:not(.notrans) .codrops-demos a {
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.intro-effect-sliced.modify:not(.notrans) .headerr h1,
.intro-effect-sliced.modify:not(.notrans) .titlee,
.intro-effect-sliced.modify:not(.notrans) .headerr p,
.intro-effect-sliced.modify:not(.notrans) .content > div,
.intro-effect-sliced.modify:not(.notrans) .codrops-demos a {
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

.intro-effect-sliced .bg-img:first-child {
	bottom: 50%;
}

.intro-effect-sliced .bg-img:last-child {
	top: 50%;
	position: fixed;
	z-index: 900;
}

.intro-effect-sliced .bg-img:last-child img {
	top: -100%;
}

.intro-effect-sliced.modify .bg-img:first-child {
	-webkit-transform: translateY(-80%);
	transform: translateY(-80%);
}

.intro-effect-sliced.modify .bg-img:last-child {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

.intro-effect-sliced .codrops-demos {
	text-align: center;
	
}

.intro-effect-sliced .codrops-demos a {
	font-size: 1em;
	
}
/*第二次的menu顏色*/
.intro-effect-sliced.modify .codrops-demos a {
	color: #cf4a5c;
}

.intro-effect-sliced .titlee {
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);
	transform: translateX(-50%) translateY(-50%) scale(0.7);
}

.intro-effect-sliced.modify .titlee {
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}

.intro-effect-sliced .headerr p {
	opacity: 0;
	color: #514753;
}

.intro-effect-sliced.modify .headerr p {
	opacity: 1;
}

.intro-effect-sliced.modify .headerr h1 {
	color: #514753;
}

.intro-effect-sliced .content > div {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	opacity: 0;
}

.intro-effect-sliced.modify .content > div {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

/* 按下enter後Delays */
.intro-effect-sliced.modify:not(.notrans) .titlee {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}